@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
  margin: 0;
  padding: 0;
  letter-spacing: 0%;
}

body {
  @apply relative flex min-h-screen flex-col bg-background text-white;
  font-family: "Montserrat", sans-serif;
}
